.error {
    font-weight: bolder;
    font-size: 15px;
    color: red;
    padding: 0;
    margin: 0px;
  }
.form-control{
  width: 50vw;
}
.signup-btn,.login-btn{
  width: 50%;
  margin: auto 25% ;
}